{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
  ]
%}
{{ attach_library('bartik/classy.node') }}
<article{{ attributes.addClass(classes) }}>
  <div{{ content_attributes.addClass('node__content', 'clearfix') }}> 
    <div class="section-1 section">
      {{ content.field_main_image }}
      {{ content.body }}
    </div>
    <div class="section-2 section">
      {{ content.field_map }}
      {{ content.field_map_link }}
    </div>
    <div class="section-3 section">
      {{ content.field_map_info }}
    </div>
    <div class="section-4 section">
      {{ content.field_carousel_ }}
    </div>
    <div class="section-5 section">
      {{ content.field_shenanigans }}
    </div>
  </div>
</article>
